Flask
jsonify
flask_sqlalchemy
flask-restful
Flask-Login==0.4.1
Flask-WTF==0.14.2
Flask-Migrate==2.5.2
pymysql
mysqlclient
SQLAlchemy==1.3.1
python-slugify
apscheduler
Flask-Scss
Flask-Bootstrap4
email_validator
psycopg2
uwsgi
gunicorn
wheel
Flask-Caching
Flask-Mail==0.9.1
pytest
pylint==2.4.4
wtforms>=3.0.0a1 # not directly required, pinned by Snyk to avoid a vulnerability
